  /* Formulario */
/*Especifidad 000*/
  *{box-sizing:border-box;}

  /*Especifidad 001*/
  form{

    padding:2em;
    border-radius:2em;
    margin:auto;
    background-color:#ccc;
    color: black;
    text-align: center;
  }


  /*Especifidad 001*/
  label {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.3em;
    font-style: italic;
    color: rgb(131, 0, 0);
  }


  /*Especifidad 001*/
  legend {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.3em;
    font-style: italic;
    color:  rgb(131, 0, 0);
  }


  

  /*Especifidad 012*/
  form input[type="text"],
  form input[type="email"],
  form input[type="date"],
  form input[type="number"]
  {
    font-size: 1.3em;
    color:rgb(0, 0, 0);
    width:60%;
    border:1em solid #f6f6f6;
    border-radius:0.2em;
    background-color:#f6f6f6;
    margin:2em 0;
    display:inline-block;

  }
  /*Especificidad 012*/
  form input[type="checkbox"] {
    font-size: 1em;
    margin-bottom: 1em;
  }
  
  /*Especifidad 012*/
  form input[type="submit"]{
    width:100%;
    padding:2em 4em;
    margin-top:6em;
    border:0.1em solid #000;
    border-radius:1em;
    display:block;
    color:#fff;
    background-color:#000;
  } 
  /*Especifidad 022*/
  form input[type="submit"]:hover{
    cursor:pointer;
  }
  /*Especifidad 001*/
  textarea{
    width:100%;
    height:10em;
    border:1em solid #f6f6f6;
    border-radius:2em;
    background-color:#f6f6f6;			
    margin:1em 0;

  }
  /*contenedor*/
  /*Especifidad 001*/
body {
  display: grid;
  grid-gap:1.2em;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:repeat(3,auto);

}

/*Especifidad 002*/
body>header {
grid-column-start:1 ;
grid-column-end:3 ;


}

/*Especifidad 002*/
body>nav {
  grid-column-start:2 ;
  grid-column-end:3 ;

  grid-row-start:2 ;
grid-row-end:3 ;



  vertical-align: middle;
  
}

/*Especifidad 002*/
body>section{
  grid-column-start:1 ;
  grid-column-end:2 ;

  grid-row-start:2 ;
  grid-row-end:3 ;
    


}


/*Especifidad 002*/
body>footer {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
  align-items: center;

  grid-column-start:1 ;
  grid-column-end:3 ;

  grid-row-start:3 ;
  grid-row-end:4 ;


}


