  /* Formulario */

  *{box-sizing:border-box;}

  /*Especifidad 001*/
  form{

    padding:2em;
    border-radius:2em;
    margin:auto;
    background-color:#ccc;
    text-align: center;
  }

  label {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.3em;
    font-style: italic;
    color: rgb(131, 0, 0);
  }

  legend {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.3em;
    font-style: italic;
    color:  rgb(131, 0, 0);
  }
  

  /*Especifidad 001*/
  form input[type="text"],
  form input[type="email"],
  form input[type="date"]{
    font-size: 1.3em;
    color:rgb(0, 0, 0);
    width:60%;
    border:1em solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:2em 0;
    display:inline-block;

  }
  
  /*Especifidad 012*/
  form input[type="submit"]{
    width:100%;
    padding:2em 4em;
    margin-top:6em;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:#fff;
    background-color:#000;
  } 
  /*Especifidad 022*/
  form input[type="submit"]:hover{
    cursor:pointer;
  }
  /*Especifidad 001*/
  textarea{
    width:100%;
    height:10em;
    border:1em solid #f6f6f6;
    border-radius:2em;
    background-color:#f6f6f6;			
    margin:1em 0;

  }
