/*contenedor*/
body {
  display: grid;
  grid-gap:1.2em;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:repeat(5,auto);

}
body>header {

  grid-column-start: 1;
  grid-column-end: 4;

}
body>nav {


  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 2;
  grid-row-end: 3;
  vertical-align: middle;

  
  
}
body>section:first-of-type {


  grid-column-start: 1;
  grid-column-end: 3;


}
body>section:last-of-type {

  grid-column-start: 1;
  grid-column-end: 3;
  
}
body>aside {

  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 3;
  grid-row-end: 4;
  
}
body>figure:first-of-type {


  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 4;
  grid-row-end: 5;


}
body>figure:last-of-type {

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 4;
  grid-row-end: 5;

}

body>footer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  align-items: center;


  grid-column-start: 1;
  grid-column-end: 4;

  grid-row-start: 5;
  grid-row-end: 6;
}

